@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: $font-weight-normal;
	src: font-url("MaterialIcons-Regular.eot?v=#{$mdicon-version}");
	src: local('Material Icons'),
	     local('MaterialIcons-Regular'),
	     font-url("MaterialIcons-Regular.woff2?v=#{$mdicon-version}") format("woff2"),
	     font-url("MaterialIcons-Regular.woff?v=#{$mdicon-version}") format("woff"),
	     font-url("MaterialIcons-Regular.ttf?v=#{$mdicon-version}") format("truetype"),
}
